@import "tailwindcss";


.font-body {
  font-family: 'Karla', sans-serif;
}

.font-heading {
  font-family: 'Nunito', sans-serif;
}

.primary-gradient {
  background: linear-gradient(
    to right,
    theme('colors.blue.900') 0%,
    theme('colors.blue.800') 25%,
    theme('colors.blue.700') 50%,
    theme('colors.blue.600') 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
